{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock css %}

{% block title %}Mon Compte{% endblock %}


{% block main %}

    <div class="row">
        <div class="container-fluid">
            <div class="row ">

                {#  Title #}

                <section class="col-12 title pt-4">
                    <h1 class="text-center mb-4">Mon Compte</h1>
                </section>

                {# Account #}

                <section class="col-12 text-center pt-4">
                    <p><b>Bienvenue {{ app.user.firstname }} dans votre compte.</b></p>

                    <p><a class="detail-link" href="{{ path('app_account_password') }}">Modification du mot de passe </a></p>
                    <p><a class="detail-link" href="{{ path('app_account_address') }}">Gérer mes adresses </a></p>
                    <p>Mes commandes</p>


                </section>

            </div>
        </div>
    </div>

{% endblock main %}