/* ***************************** */
            /* Search */
/* ***************************** */
.search {
    background-color: #7A9E7E;
    height: 15vh;
}

/* ***************************** */
            /* List */
/* ***************************** */

.list {
    background-color: #31493C;
}

.flower-card {
    width:18rem;
    border: none;
}
.flower-img-card {
    width: 7rem;
}

.strikethrough-text {
    text-decoration:line-through;
}


/* ***************************** */
            /* Detail */
/* ***************************** */


.flower-article {
    width:60rem;
    border: none;
    background-color: #7A9E7E;
}

.img-article {
    width: 17rem;
}

.title-article {
    font-size: 2rem;
}

.flower-badge {
    color: #7A9E7E;
}


/****************************************************************************/
/*          Media queries           */
/****************************************************************************/

@media screen and (min-device-width: 280px) and (max-device-width: 768px) {

    flower-article {
        width:16rem;
    }
    .img-article {
        width: 7rem;
    }

}