{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/shop.css') }}">
{% endblock css %}

{% block title %}
    Boutique
{% endblock %}

{% block main %}
    <h1>Boutique </h1>
{% endblock main %}