{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/contact.css') }}">
{% endblock css %}

{% block title %}
    Contact
{% endblock %}

{% block main %}

    <div class="row">
        <div class="container-fluid">
            <div class="row ">

                {#  Title #}

                <section class="col-12 title pt-4">
                    <h1 class="text-center mb-4">Contact</h1>
                </section>

                {# Contact #}

                <section class="col-12 mb-4">
                    <div class="row d-flex justify-content-center my-4">

                        {# Contact us #}

                        <article class="col-12 col-md-5 contact-us text-white m-2">
                            <div class="text-center my-4">
                                <h2 class="contact-title">Nous contacter</h2>
                            </div>
                            <div class="px-3">
                                <p class="text-justify mr-4 mt-5 mb-4">Pour toute questions vous pouvez utiliser le formulaire
                                    de contact, nous vous répondrons dans les meilleurs délais.
                                    <br />
                                    Vous pouvez également nous rendre visite !
                                </p>
                                <p class="my-4"><span class="font-weight-bolder">Adresse :</span>
                                <br>
                                    3 rue de la Grande Chaumière
                                <br>
                                    75006 Paris
                                </p>
                                <p class="my-4"><span class="font-weight-bolder">Téléphone :</span>
                                <br>
                                    01.45.67.88.90
                                </p>
                                <p class="my-4"><span class="font-weight-bolder">Email :</span>
                                <br>
                                    contact@flower.fr
                                </p>
                            </div>
                        </article>

                        {# Form contact #}

                        <article class="col-12 col-md-5 form-contact text-white m-2">
                            <div class="text-center my-4">
                                <h2 class="contact-title">Formulaire de contact</h2>
                            </div>
                            <form class="px-3">
                                <div class="row">
                                    <div class="col-12 col-md-6 form-group">
                                        <label for="name">nom* :</label>
                                        <input type="text" class="form-control" id="name" placeholder="Ex: Dupont" plaria-describedby="name">
                                    </div>
                                    <div class="col-12 col-md-6 form-group">
                                        <label for="firstname">Prénom* :</label>
                                        <input type="text" class="form-control" id="firstname" placeholder="Ex: Jean">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label for="email">Email* :</label>
                                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Ex: jeandupont@gmail.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Message* :</label>
                                        <textarea class="form-control" id="message" rows="3" placeholder="Ecrivez votre message"></textarea>
                                    </div>
                                </div>
                                <small id="required-flieds" class="form-text text-light font-italic">* champs requis</small>
                                <div class="d-flex justify-content-center my-3">
                                    <button type="submit" class="btn btn-dark">Envoyer</button>
                                </div>
                            </form>
                        </article>

                    </div>
                </section>


            </div>
        </div>
    </div>
{% endblock main %}